.DS_Store
build/
dist/
hooks/__pycache__/
jupyternotebooks/__pycache__/
WebApp/SoulGuard/myapp/migrations/__pycache__/
WebApp/SoulGuard/soul/__pycache__/
WebApp/SoulGuard/myapp/__pycache__/
WebApp/SoulGuard/soul/__pycache__/
