{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-image: url("{% static 'images/post_background.jpg' %}");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    }

    .post-section {
        padding: 20px;
        margin-left: 20px; /* Keep shifting to the left */
        margin-top: 20px; /* Add space from the top */
        max-width: 800px;
        width: 80%; /* Limit width to 80% of the container */
    }

    .card-header h2 {
        color: white;
    }

    .btn-block {
        background-color: #44B78B;
        color: white;
    }
</style>

<div class="post-section">
    <div class="card">
        <div class="card-header">
            <h2>Create a New Post</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="postContent" class="form-label">Your Post</label>
                    {{ form.content }}
                    {% if form.content.errors %}
                    <div class="alert alert-danger">
                        {{ form.content.errors|join:" " }}
                    </div>
                    {% endif %}
                    <p class="text-muted">Limit: 100 words</p>
                </div>
                <button type="submit" class="btn btn-success btn-block">Share Feelings</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}