{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulGuard - For You</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/for_you.jpg' %}");
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="welcome-message">Welcome to SoulGuard</h1>
    </header>
    <main class="main-container">
        <p>Please complete a small survey before we give you recommendation</p>
        <div class="login-form">
            <form method="post">
                {% csrf_token %}
                
                <p>{{ form.question_1.label }}<br>
                    {{ form.question_1 }}</p>
                
                <p>{{ form.question_2.label }}<br>
                    {{ form.question_2 }}</p>
                
                <button type="submit">Submit Survey</button>
            </form>
        </div>
    </main>
    <footer>
        <p class="footer-message"></p>
    </footer>
</body>
</html>