{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulGuard</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        <!-- Content from child templates will be inserted here -->
        {% endblock %}
    </main>
    <footer>
        <p></p>
    </footer>
</body>
</html>
